{% extends "base.html" %}

{% block content %}
<h1>Сделки</h1>
{% if current_user.is_authenticated %}
    <a href="cdel" class="btn btn-secondary">Добавить сделку</a>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Дата написания - {{item.created_date}}
        {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/cdel/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/cdel_view/{{ item.id }}" class="btn btn-warning">
            Смотреть
        </a>
        <a href="/cdel_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}